<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!--
        <add key="Local Output" value="../output" />
        -->
    </packageSources>
    <!--
        https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping
        Define mappings by adding package patterns beneath the target source.
    -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <!--
        packages restored from "Local Output":
        <packageSource key="Local Output">
            <package pattern="Xamarin.AndroidX.*" />
        </packageSource>
        -->
        <!--
        packages restored from nuget.org:
            everything else        
        -->
        <packageSource key="nuget.org">
            <package pattern="Microsoft.*" />
            <!--
            <package pattern="Xamarin.AndroidX.*" />
            <package pattern="Xamarin.AndroidX.Security.SecurityCrypto" />
            -->
        </packageSource>
    </packageSourceMapping>
</configuration>